.whenitem_month, .whenitem_quarter, .whenitem_year {
    position: relative;
    margin-right: 30px;
    padding-top: 33px;
    width: 199px;
    height: 97px;
}

.whenitem_style {
    width: 178px;
    height: 64px;
    padding: 14px 58px;

    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;

    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;

    align-items: center;
    text-align: center;
}

.percent {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    height: 58px;
    right: 0;
    top: 0;
    text-align: center;

    background: #F8E3B8;
    border-radius: 22px;
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .whenitem_month, .whenitem_quarter, .whenitem_year {
        width: 218px;
        height: 86px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .whenitem {
        justify-content: center;
    }
    .whenitem_month, .whenitem_quarter, .whenitem_year {
        width: 211px;
        height: 86px;
        margin-right: 20px;
    }
    .whenitem_month {
        margin-right: 20px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .whenitem {
        justify-content: center;
    }
    .whenitem_month, .whenitem_quarter, .whenitem_year {
        width: 142px;
        height: 75px;
    }
    .whenitem_style {
        display: flex;
        justify-content: center;
        width: 133px;
        height: 47px;
        margin-right: 12px;
        text-align: center;
    }
    .percent {
        width: 48px;
        height: 48px;
    }
}

@media (max-width: 480px) {
    .whenitem_month, .whenitem_quarter, .whenitem_year {
        width: 280px;
        height: 54px;
        margin-right: 0;
        margin-bottom: 12px;
    }
    .whenitem_style {
        width: 260px;
        height: 54px;
    }
    .whenitem_month .whenitem_style {
        width: 280px;
    }
    .whenitem {
        flex-direction: column;
    }
    .percent {
        top: 25px;
    }
}