.section-7_top {
    height: 228px;
    padding-top: 56px;
    text-align: center;
    background-color: #000000;
}

.section-7_top_item {
    margin-top: 56px;

    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
}

.section-7_top_item span {
    font-weight: 800;
}

.section-7_bottom {
    width: 100%;
    max-width: 1218px;
    height: 171px;
    margin: 55px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ffffff;
    border-radius: 20px;
}

.section-7_bottom_body {
    display: flex;
    justify-content: space-between;
    height: 110px;
    width: 885px;
}

.section-7_bottom_body div {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #000;
}

.section-7_bottom_number {
    margin-bottom: 16px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 66px;
}

.section-7_bottom_text {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}

@media (min-width: 1023px) and (max-width: 1439px) {
    .section-7_top {
        padding-left: 20px;
        padding-right: 20px;
    }
    .section-7_bottom_number {
        font-size: 48px;
        line-height: 58px;
    }
    .section-7_bottom_body {
        height: 103px;
        width: 776px;
    }
}

@media (min-width: 767px) and (max-width: 1023px) {
    .section-7_top {
        padding-top: 47px;
        height: 200px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .section-7_top_item {
        font-size: 28px;
        line-height: 36px;
    }
    .section-7_bottom {
        height: 152px;
    }
    .section-7_bottom_body {
        height: 106px;
        width: 580px;
    }
    .section-7_bottom_number {
        margin-bottom: 16px;
        font-size: 36px;
        line-height: 43px;
    }
    .section-7_bottom_text {
        font-size: 20px;
        line-height: 23px;
    }
}

@media (min-width: 479px) and (max-width: 767px) {
    .section-7_top {
        padding-top: 26px;
        padding-left: 20px;
        padding-right: 20px;
        height: 148px;
    }
    .section-7_top_item {
        font-size: 20px;
        line-height: 26px;
    }
    .section-7_bottom_body {
        margin-top: 23px;
        height: 64px;
        width: 400px;
    }
    .section-7_bottom {
        align-items: baseline;
        height: 110px;
        margin: 26px auto 0 auto;
    }
    .section-7_bottom_number {
        margin-bottom: 12px;
        font-size: 28px;
        line-height: 34px;
    }
    .section-7_bottom_text {
        font-size: 16px;
        line-height: 18px;
    }
}

@media (max-width: 479px) {
    .section-7_top {
        padding-top: 13px;
        padding-left: 20px;
        padding-right: 20px;
        height: 58px;
    }
    .section-7_top_item {
        font-size: 15px;
        line-height: 19px;
    }
    .section-7_bottom {
        height: 75px;
        margin: 9px auto;
        align-items: center;
        justify-content: space-evenly;
    }
    .section-7_bottom_body {
        margin-top: 10px;
        height: 56px;
        width: 247px;
    }
    .section-7_bottom_body div:last-child {
        max-width: 82px;
    }
    .section-7_bottom_body div:first-child {
        margin-right: 16px;
    }
    .section-7_bottom_body div:last-child {
        margin-left: 16px;
    }
    .section-7_bottom_number {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 4px;
    }
    .section-7_bottom_text {
        font-size: 13px;
        line-height: 15px;
    }
}