.section-7_top {
    height: 228px;
    padding-top: 56px;
    text-align: center;
    background-color: #000000;
}

.section-7_top_item {
    margin-top: 56px;

    font-family: Raleway;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
}

.section-7_top_item span {
    font-weight: 800;
}

.section-7_bottom {
    width: 100%;
    max-width: 1218px;
    height: 171px;
    margin: 55px auto;
    padding: 30px 166px;
    display: flex;
    justify-content: space-around;

    font-family: Raleway;
    background-color: #ffffff;
    border-radius: 20px;
}

.section-7_bottom div {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #000;
}

.section-7_bottom_number {
    margin-bottom: 16px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 66px;
}

.section-7_bottom_text {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .section-7_bottom_number {
        font-size: 48px;
        line-height: 58px;
    }
    .section-7_bottom {
        padding: 30px 100px;
    }
    .section-7_bottom div {
        margin-right: 80px;
    }
    .section-7_bottom div:last-child {
        margin-right: 0px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .section-7_top {
        padding-top: 47px;
        height: 200px;
    }
    .section-7_top_item {
        font-size: 28px;
        line-height: 36px;
    }
    .section-7_bottom {
        height: 152px;
        margin: 55px auto;
        padding: 20px 74px;
    }
    .section-7_bottom div {
        margin-right: 65px;
    }
    .section-7_bottom div:last-child {
        margin-right: 0px;
    }
    .section-7_bottom_number {
        margin-bottom: 16px;
        font-size: 36px;
        line-height: 43px;
    }
    .section-7_bottom_text {
        font-size: 20px;
        line-height: 23px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .section-7_top {
        padding-top: 26px;
        height: 148px;
    }
    .section-7_top_item {
        font-size: 20px;
        line-height: 26px;
    }
    .section-7_bottom div {
        margin-right: 25px;
    }
    .section-7_bottom div:last-child {
        margin-right: 0px;
    }
    .section-7_bottom {
        height: 110px;
        margin: 26px auto;
        padding: 13px 45px;
    }
    .section-7_bottom_number {
        margin-bottom: 12px;
        font-size: 28px;
        line-height: 34px;
    }
    .section-7_bottom_text {
        font-size: 18px;
        line-height: 21px;
    }
}

@media (max-width: 480px) {
    .section-7_top {
        padding-top: 13px;
        height: 58px;
    }
    .section-7_top_item {
        font-size: 15px;
        line-height: 19px;
    }
    .section-7_bottom {
        max-width: 280px;
        height: 75px;
        margin: 9px auto;
        padding: 0;
        align-items: center;
        justify-content: space-evenly;
    }
    .section-7_bottom div {
        margin-right: 12px;
    }
    .section-7_bottom div:last-child {
        margin-right: 0px;
    }
    .section-7_bottom_number {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 4px;
    }
    .section-7_bottom_text {
        font-size: 13px;
        line-height: 15px;
    }
}