.accordion_block {
    width: 100%;
    max-width: 802px;
    margin: 0 auto 20px auto;

    background: rgba(255, 255, 255, 0.6);
    border: 1px solid;
    border-image-source: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 20px;
}

.accordion_title {
    display: flex;
    padding: 20px 20px;
    cursor: pointer;
}

.accordion_title span {
    margin-left: 30px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.arrow_up, .arrow_down {
    width: 100%;
    max-width: 48px;
    height: 100%;
    max-height: 48px;
    padding: 12px 12px;
    cursor: pointer;

    color: #FFFFFF;
    background: #000000;
    border-radius: 10px;
}

.arrow_down {
    display: none;
}

.accordion_title span {
    display: flex;
    align-items: center;
}

.accordion_block .arrow {
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
}

.accordion_body {
    margin: 0 20px 20px 20px;
    padding: 22px 30px;

    background: rgba(0, 0, 0, 0.03);
    border-radius: 10px;

    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
}

@media (min-width: 480px) and (max-width: 768px) {
    .accordion_title span {
        margin-left: 16px;
        font-size: 16px;
        line-height: 24px;
    }
    .accordion_body {
        padding: 14px 20px 14px 14px;
        font-size: 18px;
        line-height: 29px;
    }
}

@media (max-width: 480px) {
    .accordion_title {
        display: flex;
        align-items: center;
        padding-top: 26px;
        padding-bottom: 20px;
    }
    .accordion_title span {
        margin-left: 22px;
        font-size: 14px;
        line-height: 18px;
    }
    .accordion_body {
        padding: 12px 12px;
        font-size: 14px;
        line-height: 22px;
    }

    .arrow_up, .arrow_down {
        max-width: 38px;
        max-height: 38px;
        padding: 9px 9px;
    }
}
