.section-5_title {
    width: 100%;
    max-width: 720px;
    margin: 0 auto 64px auto;

    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;

    text-align: center;
}