.section-5_title {
    width: 100%;
    max-width: 720px;
    margin: 0 auto 64px auto;

    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;

    text-align: center;
}

@media (min-width: 1441px) and (max-width: 1920px) {
    .section-5_image img {
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .section-5_image {
        max-width: 600px;
        margin-right: 20px;
    }
    .section-5_image img {
        width: 100%;
        height: 100%;
    }
    .section-5_title {
        margin-bottom: 44px;
        font-size: 32px;
        line-height: 41px;
    }
    .section-5_item .slick-slide div {
        display: flex;
    }
    .section-5_item .slick-slide div:last-child {
        margin-right: 0;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .section-5_item {
        height: 444px;
    }
    .section-5_image {
        max-width: 428px;
        max-height: 290px;
        margin-right: 20px;
    }
    .section-5_image img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
    .section-5_title {
        margin-bottom: 44px;
        font-size: 32px;
        line-height: 41px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .section-5_title {
        margin-bottom: 32px;
        font-size: 28px;
        line-height: 36px;
    }
    .section-5_image img {
        border-radius: 14px;
        width: 100%;
        height: 100%;
    }
    .section-5_item .slick-list {
        overflow: inherit!important;
    }
    .section-5_item .section-5_image {
        margin-right: 20px;
    }
}

@media (max-width: 480px) {
    .section-5_title {
        font-size: 21px;
        line-height: 27px;
        margin-bottom: 32px;
    }
    .section-5_image img {
        border-radius: 14px;
        width: 100%;
        height: 100%;
    }
}