.section-5_title {
    width: 100%;
    max-width: 720px;
    margin: 0 auto 64px auto;

    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;

    text-align: center;
}



@media (min-width: 1024px) and (max-width: 1440px) {
    .section-5_title {
        margin-bottom: 44px;
        font-size: 32px;
        line-height: 41px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .section-5_title {
        margin-bottom: 32px;
        font-size: 28px;
        line-height: 36px;
    }
    .cukhLH {
        max-width: 287px!important;
    }
    .tXlBS {
        width: 287px!important;
        border-radius: 14px!important;
        margin-right: 20px!important;
    }
    .section-5_item .slider_item {
        width: 287px;
    }
}

@media (max-width: 480px) {
    .section-5_title {
        font-size: 21px;
        line-height: 27px;
        margin-bottom: 32px;
    }
}