.footer-social_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    margin-right: 12px;

    background: #FFFFFF;
    border-radius: 50px;
}

@media (max-width: 580px) {
    .footer-social_link {
        width: 34px;
        height: 34px;
    }
}

@media (max-width: 480px) {
    .footer-social_link {
        width: 44px;
        height: 44px;
    }
}

@media (max-width: 380px) {
    .footer-social_link {
        width: 34px;
        height: 34px;
    }
}

.footer-social_link:hover {
    opacity: 0.6;
}