.footer-social_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    margin-right: 12px;

    background: #FFFFFF;
    border-radius: 50px;
}

@media (min-width: 481px) and (max-width: 768px) {
    .footer-social_link {
        width: 44px;
        height: 44px;
    }
}

.footer-social_link:hover {
    opacity: 0.6;
}