.section-4-mob_item {
    position: relative;
    display: none;
}

.top_item, .bottom_item {
    width: 100%;
}

.section-4_title h1 {
    margin-bottom: 32px;

    font-family: Raleway;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: center;
}

.section-4_title h2 {
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
}

.num_update {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
}

.section-4_item {
    margin-top: 64px;
}

.top_item {
    margin-bottom: 116px;
}

.section-4_image {
    width: 100%;
    height: 540px;
    min-width: 240px;
    padding: 0;
    text-align: center;
    margin: 0 20px;
}

.section-4_image img {
    height: 100%;
}

.section-4_bottom_item {
    margin-top: 64px;
    justify-content: space-between;
}

.section-4_bottom_item .app-store_btn {
    width: 260px;
}

.bottom_text {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px
}

.bottom_text_item {
    font-weight: bold;
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .section-4_title h1 {
        margin-bottom: 20px;
        font-size: 40px;
        line-height: 46px;
    }
    .section-4_title h2 {
        font-size: 18px;
        line-height: 27px;
    }
    .section-4_item {
        margin-top: 44px;
    }
    .num_update {
        font-size: 24px;
        line-height: 36px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .section-4_item {
        display: none;
    }
    .section-4-mob_item {
        display: flex;
        justify-content: center;
    }
    .bottom_text {
        font-size: 28px;
        line-height: 32px;
        text-align: center;
    }
    .section-4_bottom_item .col {
        flex-direction: column;
        align-items: center;
    }
    .section-4_title h1 {
        margin-bottom: 20px;
        font-size: 32px;
        line-height: 37px;
    }
    .section-4_title h2 {
        font-size: 16px;
        line-height: 24px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .section-4_title h1 {
        margin-bottom: 16px;
        font-size: 28px;
        line-height: 32px;
    }
    .bottom_text {
        font-size: 24px;
        line-height: 28px
    }
    .num_update {
        font-size: 24px;
        line-height: 36px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .section-4_title h1 {
        font-size: 21px;
        line-height: 24px;
    }

    .section-4_title h2 {
        font-size: 14px;
        line-height: 21px;
    }
    .bottom_text {
        font-size: 18px;
        line-height: 21px
    }
    .num_update {
        font-size: 16px;
        line-height: 24px;
    }
}

