.section-6_title {
    margin-bottom: 32px;
}

.section-6_title_item-1 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
}

.section-6_title_item-2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
}

.section-6_calendar {
    display: flex;
    justify-content: center;
    margin-bottom: 44px;
}

.section-6_price_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%;
    max-width: 282px;
    height: 450px;

    background: rgba(255, 255, 255, 0.3);

    border: 1px solid;
    border-image-source: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 20px;
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .section-6_price_item {
        max-width: 231px;
    }
    .section-6_title_item-1 {
        font-size: 40px;
        line-height: 52px;
    }
    .section-6_title_item-2 {
        font-size: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .section-6_price_item {
        max-width: 354px;
    }
    .section-6_title_item-1 {
        font-size: 32px;
        line-height: 41px;
    }
    .section-6_title_item-2 {
        font-size: 32px;
    }
    .section-6_price_items .slider_item {
        width: 354px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .section-6_price_item {
        max-width: 280px;
    }
    .section-6_title {
        margin-bottom: 20px;
    }
    .section-6_title_item-1 {
        font-size: 28px;
        line-height: 36px;
    }
    .section-6_title_item-2 {
        font-size: 28px;
    }
    .section-6_calendar {
        justify-content: space-between;
        margin-bottom: 32px;
    }
    .section-6_price_items .slider_item {
        width: 280px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .section-6_price_item {
        max-width: 231px;
    }
    .section-6_title {
        height: 54px;
        margin-bottom: 18px;
    }
    .section-6_title_item-1 {
        font-size: 21px;
        line-height: 27px;
    }
    .section-6_title_item-2 {
        font-size: 21px;
    }
    .section-6_calendar {
        height: 205px;
        justify-content: center;
    }
    .section-6_price_items .slider_item {
        width: 231px;
    }
}