
.main .container {
    position: relative;
    max-width: 1218px;
}

.section-1 {
    margin-top: 141px;
    height: 100%;
}

.section-3 {
    height: 100%;
}

.section-2 {
    position: relative;
    height: 100%;
    max-height: 801px;
    margin-bottom: 90px;
}

.section-4 {
    height: 100%;
    margin-top: 198px;
}

.section-5 {
    height: 100%;
    margin-top: 140px;
    justify-content: center;
}

.section-6 {
    height: 100%;
    margin-top: 140px;
}

.section-7 {
    position: relative;
    height: 100%;
    margin-top: 134px;
}

.section-8 {
    height: 100%;
    margin-top: 140px;
    margin-bottom: 140px;
}

.section-8 .container {
    padding: 0;
    height: 100%;
}

.section-9 .container {
    position: relative;
}

.section-10 {
    margin-top: 145px;
    height: 100%;
}

.section-11 {
    position: relative;
    margin-top: 145px;
    height: 100%;
}

.active {
    background: #000;
    color: #ffffff;
}

@media (min-width: 1440px) and (max-width: 1920px) {
    .section-2 {
        height: 760px;
        margin-bottom: 140px;
    }
    .section-4 {
        margin-top: 140px;
    }
    .section-7 {
        margin-top: 140px;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .section-2 {
        height: 503px;
        margin-bottom: 120px;
        margin-top: 189px;
    }
    .section-4 {
        margin-top: 120px;
    }
    .section-5 {
        margin-top: 120px;
    }
    .section-6 {
        margin-top: 120px;
    }
    .section-7 {
        margin-top: 120px;
    }
    .section-8 {
        margin-top: 120px;
        margin-bottom: 120px;
    }
    .section-10 {
        margin-top: 120px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .section-1 {
        height: 339px;
    }
    .section-2 {
        margin-bottom: 100px;
        margin-top: 86px;
    }
    .section-4 {
        margin-top: 100px;
    }
    .section-5 {
        margin-top: 100px;
    }
    .section-6 {
        margin-top: 100px;
    }
    .section-7 {
        margin-top: 100px;
    }
    .section-8 {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .section-10 {
        height: 319px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .section-1 {
        margin-top: 144px;
        height: 270px;
    }
    .section-2 {
        height: 275px;
        margin-bottom: 80px;
        margin-top: 80px;
    }
    .section-4 {
        margin-top: 80px;
    }
}

@media (max-width: 480px) {
    .section-1 {
        margin-top: 112px;
        max-height: 289px;
    }
    .section-2 {
        height: 294px;
        margin-top: 80px;
    }
    .section-4 {
        margin-top: 96px;
    }
    .section-5 {
        margin-top: 80px;
    }
    .section-6 {
        margin-top: 80px;
    }
    .section-7 {
        margin-top: 80px;
        height: 116px;
    }
    .section-8 {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .section-11 {
        margin-top: 64px;
    }
}