.main {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
}

.main_items {
    max-width: 1218px;
}

.section-1 {
    margin-top: 20px;
    padding: 0;
}

.section-3 {
    margin-top: 82px;
}

.section-4 {
    margin-top: 198px;
}

.active {
    background: #000;
    color: #ffffff;
}