
.main .container {
    position: relative;
    max-width: 1218px;
}

.section-1 {
    margin-top: 20px;
}

.section-2 {
    position: relative;
    height: 801px;
    margin-bottom: 90px;
}

.section-4 {
    margin-top: 198px;
}

.section-5 {
    margin-top: 140px;
    justify-content: center;
}

.section-6 {
    margin-top: 140px;
}

.section-7 {
    position: relative;
    height: 329px;
    margin-top: 134px;
}

.section-8 {
    margin-top: 140px;
    margin-bottom: 140px;
}

.section-8 .container {
    padding: 0;
}

.section-10 {
    margin-top: 145px;
}

.section-11 {
    margin-top: 145px;
}

.active {
    background: #000;
    color: #ffffff;
}

@media (max-width: 1440px) {
    .section-2 {
        height: 760px;
        margin-bottom: 140px;
    }
    .section-4 {
        margin-top: 140px;
    }
}

@media (max-width: 1024px) {
    .section-2 {
        height: 507px;
        margin-bottom: 120px;
        margin-top: 189px;
    }
    .section-4 {
        margin-top: 120px;
    }
}

@media (max-width: 768px) {
    .section-2 {
        height: 403px;
        margin-bottom: 100px;
        margin-top: 86px;
    }
    .section-4 {
        margin-top: 100px;
    }
}

@media (max-width: 480px) {
    .section-2 {
        height: 251px;
        margin-bottom: 80px;
        margin-top: 160px;
    }
    .section-4 {
        margin-top: 80px;
    }
}

@media (max-width: 320px) {
    .section-2 {
        height: 322px;
        margin-top: 160px;
    }
}