@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.section-second {
    padding: 0;
    justify-content: flex-end;
}

.section-second_left {
    position: absolute;
    width: 100%;
    max-width: 1116px;
    min-height: 760px;
    left: 0;
    background: url('section-2.svg') no-repeat;
    background-size: contain;
}

.section-second_right {
    width: 100%;
    max-width: 490px;
    max-height: 392px;
    margin-top: 266px;
    margin-bottom: 140px;
}

.section-second_right .app-store_btn {
    width: 100%;
    max-width: 260px;
}

.section-second_right h1 {
    margin-bottom: 32px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
}

.section-second_right p {
    margin-bottom: 64px;

    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}


/* @media (min-width: 1440px) and (max-width: 1920px) {
    .section-second_left {
        left: -310px;
    }
} */

/* @media (max-width: 1150px) {
    .section-second_right {
        max-width: 431px;
    }
} */

@media (min-width: 1024px) and (max-width: 1440px) {
    .section-second_left {
        max-width: 722px;
        max-height: 507px;
        left: -100px;
    }
    .section-second_right {
        width: 100%;
        max-width: 381px;
        max-height: 364px;
        margin-top: 180px;
        margin-bottom: 10px;
    }
    .section-second_right h1 {
        margin-bottom: 20px;
        font-size: 36px;
        line-height: 46px;
    }

    .section-second_right p {
        margin-bottom: 44px;
        font-size: 18px;
        line-height: 27px;
    }
}

/* @media (max-width: 950px) {
    .section-second_left {
        max-width: 650px;
    }
    .section-second_right {
        max-width: 280px;
        margin-top: 160px;
    }
} */

@media (min-width: 768px) and (max-width: 1024px) {
    .section-second_left {
        max-width: 600px;
        max-height: 403px;
        left: -179px;
    }
    .section-second_right {
        width: 100%;
        max-width: 354px;
        max-height: 302px;
        margin-top: 86px;
    }
    .section-second_right h1 {
        font-size: 28px;
        line-height: 36px;
    }

    .section-second_right p {
        font-size: 15px;
        line-height: 22px;
    }
}

/* @media (max-width: 720px) {
    .section-second_right {
        max-width: 246px;
    }
}

@media (max-width: 615px) {
    .section-second_left {
        max-width: 500px;
        left: -149px;
    }
    .section-second_right {
        margin-top: 68px;
    }
}

@media (max-width: 550px) {
    .section-second_left {
        max-width: 450px;
        left: -134px;
    }
    .section-second_right {
        max-width: 213px;
    }
} */

@media (min-width: 480px) and (max-width: 768px) {
    .section-second_left {
        display: none;
    }
    .section-second_right {
        width: 100%;
        max-width: 440px;
        max-height: 251px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .section-second_right h1 {
        margin-bottom: 16px;
        font-size: 26px;
        line-height: 34px;
    }

    .section-second_right p {
        margin-bottom: 31px;
        font-size: 14px;
        line-height: 21px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .section-second_left {
        display: none;
    }
    .section-second {
        justify-content: end;
    }
    .section-second_right {
        width: 100%;
        max-width: 280px;
        max-height: 322px;
    }
    .section-second_right h1 {
        font-size: 20px;
        line-height: 26px;
    }

    .section-second_right p {
        font-size: 15px;
        line-height: 22px;
    }
    .section-second_right .app-store_btn {
        width: 280px;
    }
}

