@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.section-second {
    padding: 0;
    justify-content: flex-end;
}

.section-second_left {
    width: 100%;
    max-width: 1116px;
}

.section-second_left {
    position: absolute;
    width: 100%;
    min-height: 760px;
    background: url('section-2.svg') no-repeat;
}

.section-second_right {
    width: 100%;
    max-width: 490px;
    max-height: 392px;
    margin-top: 266px;
    margin-bottom: 140px;
}

.section-second_right .app-store_btn {
    width: 260px;
}

.section-second_right h1 {
    margin-bottom: 32px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
}

.section-second_right p {
    margin-bottom: 64px;

    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

