.sectionblock_item {
    width: 100%;
    /* max-width: 386px; */
    height: 100%;
    padding: 40px 34px 30px 40px;

    background: rgba(255, 255, 255, 0.4);
    border: 1px solid;
    border-image-source: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 20px;
}

.sectionblock_item img {
    width: 100%;
    max-width: 64px;
    margin-bottom: 40px;
}

.sectionblock_item h1 {
    margin-bottom: 20px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
}

.sectionblock_item p {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
}

.textupdate {
    font-weight: bold;
}

@media (min-width: 1440px) {
    .sectionblock_item {
        height: 360px;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .sectionblock_item {
        height: 313px;
        padding: 30px 30px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .sectionblock_item {
        max-width: 100%;
        height: 342px;
        padding: 30px 30px;
    }
    .marginblock {
        margin-right: 0!important;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .sectionblock_item {
        height: 323px;
        padding: 20px 20px;
    }
    .sectionblock_item img {
        margin-bottom: 16px;
        max-width: 44px;
        max-height: 44px;
    }
    .sectionblock_item h1 {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 16px;
    }
    .sectionblock_item p {
        font-size: 16px;
        line-height: 25px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .sectionblock_item {
        height: 193px;
        padding: 16px 16px;
    }
    .sectionblock_item img {
        margin-bottom: 12px;
        max-width: 34px;
        max-height: 34px;
    }
    .sectionblock_item h1 {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 8px;
    }
    .sectionblock_item p {
        font-size: 14px;
        line-height: 22px;
    }
}