.footer_item {
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    max-height: 652px;
    margin: 0 auto;
}

.footer_back-1 {
    position: relative;
    width: 100%;
    height: 650px;
    background: url('./components/images/vector1.svg') no-repeat center;
}

.footer_back-2 {
    position: absolute;
    top: 72px;
    width: 100%;
    height: 580px;
    background: url('./components/images/vector2.svg') no-repeat center;

    color: #F1F1F1;
}

.footer_back-2 .container {
    margin-top: 326px;
    max-width: 1218px;
}

.footer_back-2 h1 {
    margin-bottom: 32px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}

.footer_back-2 h2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.footer_back-2 a {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #F1F1F1;
    text-decoration: none;
}

.item-1 h1 {
    margin-bottom: 20px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
}

.item-1_links {
    display: flex;
}

.item-4 .app-store_btn {
    width: 180px;
    background: #ffffff;
    color: #000000;
}

.item-4 .google-play_btn {
    width: 180px;
    margin-top: 16px;
    background: #ffffff;
    color: #000000;
}

.item-4_btn {
    display: flex;
    flex-direction: column;
}

.item-5_links {
    display: flex;
}

.item-5_links .footer-social_link {
    border-radius: 8px;
}

@media (max-width: 1024px) {
    .item-4 h1 {
        display: none;
    }
    .item-4_btn {
        bottom: 40px;
        position: absolute;
        flex-direction: inherit;
        right: 15px;
    }
    .item-4 .google-play_btn {
        margin-top: 0;
    }
    .item-4 .app-store_btn {
        margin-right: 20px;
    }
}

@media (max-width: 768px) {
    .footer_back-2 .container {
        position: relative;
        margin-top: 191px;
        height: 331px;
        justify-content: left!important;
    }
    .item-2{
        position: absolute;
        top: 172px;
    }
    .item-3{
        position: absolute;
        right: 15px;
        top: 172px;
        left: 276px;
    }
    .item-4_btn {
        position: absolute;
        top: 0;
        flex-direction: column;
        right: 15px;
    }
    .item-5{
        margin-left: 95px;
    }
    .item-5 h1 {
        margin-bottom: 20px;
    }
    .item-4 .app-store_btn {
        margin-bottom: 16px;
    }
}

@media (max-width: 680px) {
    .item-3{
       left: 232px;
    }
    .item-5{
        margin-left: 50px;
    }
    .item-4 .google-play_btn, .item-4 .app-store_btn {
        width: 100%;
        max-width: 180px;
    }
}

@media (max-width: 580px) {
    .item-3{
       left: 160px;
    }
    .item-5{
        margin-left: 8px;
    }
}


@media (max-width: 480px) {
    .footer_back-2 .container {
        margin-top: 170px;
        height: 404px;
    }
    .item-2{
        top: 153px;
    }
    .item-3{
        top: 153px;
        left: 205px;
    }
    .item-4 {
        position: absolute;
        width: 100%;
        bottom: 60px;
        left: 0;
    }
    .item-5{
        margin-left: 20px;
    }
    .item-4_btn {
        flex-direction: inherit;
        left: 15px;
    }
    .item-4 .google-play_btn, .item-4 .app-store_btn {
        max-width: 175px;
    }
}

@media (max-width: 380px) {
    .footer_back-2 .container {
        padding-right: 0;
        padding-left: 5px;
    }
    .item-3{
       left: 183px;
    }
    .item-5{
        margin-left: 30px;
    }
}

@media (max-width: 350px) {
    .footer_back-2 .container {
        padding-left: 0;
    }
    .item-3{
       left: 152px;
    }
    .item-5{
        margin-left: 10px;
    }
}

@media (max-width: 320px) {
    .footer_back-2 .container {
        flex-direction: column;
        margin-top: 170px;
        height: 700px;
        padding-right: 15px;
        padding-left: 15px;
        background: #000;
    }
    .item-2{
        position: inherit;
        margin-top: 44px;
        top: 0;
    }
    .item-3{
        position: inherit;
        margin-top: 44px;
        top: 0;
        left: 0;
    }
    .item-4 {
        position: absolute;
        width: 100%;
        bottom: 60px;
        left: 0;
    }
    .item-5{
        margin-left: 0;
        margin-top: 44px;
    }
}

