.section-first .app-store_btn {
    width: 180px;
}

.section-first_left {
    width: 100%;
    max-width: 801px;
    margin-right: 40px;
}

.section-first_left h1 {
    margin-top: 80px;
    margin-bottom: 32px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
}

.section-first_left_bold {
    font-weight: 800;
}

.section-first_left p {
    margin-bottom: 60px;

    font-family: Raleway;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
}

.section-first_right {
    position: absolute;
    right: 0;
    width: 100%;
    max-width: 380px;
    height: 550px;
    margin-bottom: 20px;
    background: url('man.svg') no-repeat;
}