.scroll {
    position: fixed;
    z-index: 1000;
    width: 120px;
    height: 120px;
    bottom: 60px;
    right: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    background: #FFFFFF;
    border-radius: 60px;
}

.scroll:hover {
    box-shadow: 0px 4px 40px rgba(145, 136, 219, 0.2);
}

.scroll img {
    max-width: 64px;
    max-height: 64px;
}

@media (max-width: 1919px) {
    .scroll {
        width: 80px;
        height: 80px;
        right: 80px;
    }
    .scroll img {
        max-width: 44px;
        max-height: 44px;
    }
}

@media (max-width: 1439px) {
    .scroll {
        right: 40px;
        width: 80px;
        height: 80px;
    }
    .scroll img {
        max-width: 44px;
        max-height: 44px;
    }
}

@media (max-width: 1023px) {
    .scroll {
        width: 60px;
        height: 60px;
    }
    .scroll img {
        max-width: 34px;
        max-height: 34px;
    }
}

@media (max-width: 767px) {
    .scroll {
        right: 20px;
    }
}

@media (max-width: 479px) {
    .scroll {
        right: 10px;
    }
}