.section-11_item {
    height: 150px;
}

.section-11_image {
    margin-right: 100px;
}

.intel {
    width: 100%;
    max-width: 94px;
    height: 100%;
    max-height: 62px;
    margin-top: 11px;
}

.canon {
    width: 100%;
    max-width: 136px;
    height: 100%;
    max-height: 28px;
    margin-top: 25px;
}