.section-11_item {
    height: 150px;
}

.section-11_image {
    height: 94px;
    margin-right: 100px;
}

.section-11_item .slider_item {
    text-align: center;
}

.section-11_item .slick-slide img {
    display: initial;
}

@media (max-width: 1024px) {
    .section-11_image {
        display: flex;
        align-items: center;
    }
}
