.section-10_item {
    position: relative;
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 40px;
}

.section-10_item-1 {
    width: 100%;
    max-width: 660px;
    margin-top: 120px;
    margin-left: 100px;
}

.section-10_title {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
}

.section-10_title_item {
    font-weight: 800;
}

.section-10_subtitle {
    margin-top: 32px;
    margin-bottom: 64px;

    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.section-10_buttons {
    display: flex;
}

.section-10_buttons .app-store_btn {
    width: 100%;
    max-width: 180px;
    margin-right: 20px;
}

.section-10_buttons .google-play_btn {
    width: 100%;
    max-width: 180px;
}

.section-10_item-2 {
    margin-right: 100px;
    margin-top: 80px;
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .section-10_item {
        height: 389px;
    }
    .section-10_item-1 {
        max-width: 439px;
        height: 218px;
        margin-top: 86px;
        margin-left: 80px;
    }
    .section-10_title {
        font-size: 24px;
        line-height: 28px;
    }
    .section-10_subtitle {
        margin-top: 20px;
        margin-bottom: 44px;
        font-size: 16px;
        line-height: 24px;
    }
    .section-10_buttons .app-store_btn {
        margin-right: 40px;
    }
    .section-10_item-2 {
        overflow: hidden;
    }
    .section-10_item-2 img {
        width: 240px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .section-10_item-1 {
        max-width: 528px;
        height: 260px;
        margin-top: 60px;
        margin-left: 60px;
    }
    .section-10_title {
        font-size: 28px;
        line-height: 32px;
    }
    .section-10_buttons .app-store_btn {
        margin-right: 20px;
    }
    .section-10_item-2 {
        display: none;
    }
}

/* @media (max-width: 530px) {
    .section-10_item-1 {
        height: 280px;
        margin-top: 40px;
        margin-left: 40px;
    }
} */

@media (max-width: 768px) {
    .section-10_item-2 {
        display: none;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .section-10_item {
        height: 270px;
    }
    .section-10_item-1 {
        max-width: 380px;
        height: 200px;
        margin: 30px 30px;
    }

    .section-10_title {
        font-size: 20px;
        line-height: 26px;
    }

    .section-10_subtitle {
        margin-top: 16px;
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 24px;
    }
    .section-10_buttons .app-store_btn {
        margin-right: 10px;
    }
}

/* @media (max-width: 420px) {
    .section-10_item {
        height: 290px;
    }
    .section-10_item-1 {
        margin: 30px 30px;
    }
}

@media (max-width: 365px) {
    .section-10_item-1 {
        height: 240px;
        margin: 20px 10px;
    }
} */

@media (max-width: 480px) {
    .section-10_item-1 {
        height: 315px;
        margin: 30px 30px;
    }
    .section-10_title {
        font-size: 21px;
        line-height: 27px;
    }
    .section-10_subtitle {
        font-size: 14px;
        line-height: 21px;
        margin-top: 16px;
        margin-bottom: 32px;
    }

    .section-10_buttons {
        flex-direction: column;
    }

    .section-10_buttons .app-store_btn {
        margin-bottom: 20px;
    }
}
