.section-3_item {
    margin-bottom: 30px;
    display: inline;
}

.section-3_item-1 .col {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.section-3_title {
    margin-bottom: 64px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
}

.marginblock {
    margin-right: 20px;
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .section-3_item-1 .col {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .section-3_title {
        font-size: 40px;
        margin-bottom: 44px;
        line-height: 52px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .section-3_item-1 .col {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .section-3_title {
        font-size: 32px;
        line-height: 41px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .section-3_item-1 .col {
        flex: 1 0 47%;
        max-width: 50%;
        padding: 0;
    }
    .section-3_title {
        font-size: 28px;
        margin-bottom: 32px;
        line-height: 36px;
    }
}

@media (max-width: 480px) {
    .section-3_item-1 .col {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
    }
    .section-3_title {
        font-size: 21px;
        line-height: 27px;
        font-weight: bold;
    }
    .section-3_title .textupdate {
        font-weight: normal;
    }
    .section-3_item-1 .marginblock {
        margin-bottom: 1rem;
    }
}
